<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <% if(typeof title == "undefined"){%>
            <title>Deforum</title>
        <%}else{%>
        <title><%= title  %> </title>
        <%} %> 
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta name="msvalidate.01" content="4D416BC62207EA12D79E06CF3DE58958" />
        
        
       
        <%- include('partials/headerPlugin.ejs') %> 
        
       
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="51">
        <%- include('partials/navbar') %> 


       <!-- content goes here -->
       <%-body  %> 

       <section class="f-footer">




